<div *ngIf="fromId" xmlns="http://www.w3.org/1999/html">
  <table>
    <tr><td>destination</td><td>amount</td></tr>
    <tr>
      <td><input type = "number" [(ngModel)]="toId"/></td>
      <td><input type = "number" [(ngModel)]="amount"/></td>
    </tr>
  </table>
  <div><button (click)="transfer()">submit</button></div>
  <div>
    <span *ngIf="result">{{result}}</span>
  </div>
  <div>
    <button (click)="gotoAccounts()">accounts</button>
    <button (click)="gotoStmt(fromId)">statement</button>
  </div>
</div>
